doctype html
html
  head
    title Tino Fileccia
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description' content="Hi! I'm a Nashville/Gallatin based web developer who ready to start or your challenging project(s)! " )
    meta(name='keywords' content='Nashville, Nashville web, tennessee, tennessee web, gallatin, gallatin web, web design, web development, nashville web design, nashville web development, nashville web developer, nashville web designer, nashville programmer, nashville hacker, gallatin hacker, ')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/css/main.css')
  body
    div.home
      h1 Tino's Advanced web solutions

    div(align='center').container-fluid#navi

      nav.navbar.navbar-default
        div.container

          div(class='navbar-header')
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation')
              span.icon-bar(height='1px')
              span.icon-bar
              span.icon-bar

          div(class='collapse navbar-collapse', id='navigation', align='center')
            ul.nav.navbar-nav
              li.active
                a(href='/') HOME
              li
                a(href='/about') ABOUT
              li
                a(href='/projects') PROJECTS
              li
                a(href='/contact') CONTACT

    br
    br
    br

    script(src='js/three.min.js')
    script(src='js/threescript.js')

    div.container
      div.col-sm-6
        h1 Hi!
      div.col-sm-6.description
        p
//
    div.footer
      ul
        li
          a(href='https://github.com/Tino-F/', target='_blank')
            img(src='/imgs/github.png', width='60px', style='margin-top: -10px;')
        li
          a(href='http://codepen.io/TinoF/', target='_blank')
            img(src='/imgs/codepen.png', width='40px')
        li
          a(href='https://www.reddit.com/user/TinoFileccia/', target='_blank')
            img(src='/imgs/redddit.png', width='48px')
