$blue: #99ffff;
$orange: #ffcc99;
$green: #99ff99;
$red: #ff9999;
$grey: #111111;
$light_grey: #989898;
$goth: 'Century Gothic', Century Gothic, AppleGothic, "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
$boli: "mv boli", sans-serif;

body {
  color: $grey;
  font-family: $goth;
  margin: 0;
  padding: 0;
}

canvas {
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.description {
    background: $light_grey;
    color: white;
}

.home {
  position: absolute;
  top: 45vh;

  h1 {
    text-align: center;
    width: 100vw;
    font-family: $goth;
    font-size: 3vw;
    background: $grey;
    color: white;
  }

  h1:hover {
    animation: shadow 0.1s ease-in-out 0.2s;
    animation-fill-mode: forwards;
  }
}

@keyframes shadow {
  from {
    box-shadow: 0px;
  }
  to {
    box-shadow: 5px 5px 5px $light_grey;
  }
}

@keyframes background {
  from {
    background: white;
    color: black;
  }
  to {
    background: $light_grey;
    color: white
  }
}

li > a:hover {
  animation: background 0.3s ease-in-out 0.3s;
  animation-fill-mode: forwards;
}

.navbar {
  border-width: 0px 0px 1px 0px;
  border-radius: 0px;
  box-shadow: 2px 2px 5px $light_grey;
  background-color: inherit !important;
  margin-bottom: 0 !important;
  padding: 0;
}

#navi {
  padding: 0;
}

.navbar-toggle {
  background: inherit;
  border-radius: 0px;
  border-width: 0px;
}

.form-control {
  border-radius: 0;
}

.nav {
  li {
    padding-left: 20px;
  }
}

#navigation {
  padding-left: calc( 50% - (700px / 2) );
  padding-right: calc( 50% - (700px / 2) );
  font-size: 2em;
  font-color: $light_grey;
}

#navi {
  position: fixed;
  width: 100%;
  background: white;
}

.key {
  border-width: 1px 1px 1px 1px ;
  border-color: $grey;

  h2 {
      color: $light_grey;
  }

  div {
    height: 35px;
    h3 {
      margin-top: 2px;
    }
  }
}

#red_key {
  background: $red;
}

#orange_key {
  background: $orange;
}

#blue_key {
  background: $blue;
}

#green_key {
  background: $green;
}

.sec {
  width: 90%;

  p {
      font-size: 1.5em;
  }

  h1 {
    border-bottom: 3px solid $red;
  }

}

.graphic {
  h1 {
    border-bottom: 3px solid $blue;
  }
}

.contact {
  h2 {
    color: $light_grey;
    border-bottom: 2px solid $light_grey;
  }
}

.footer {
  background: $grey;
  height: 70px;

  ul {

    li {
      list-style-type: none;
      color: white;
      display: inline-block;
      padding-left: 22%;
    }

  }

}
